<div class="card">
    <div class="card-title">
        <h1>Edit Nutritional Information</h1>
    </div>
    <div class="card-body">
        <form [formGroup]="nutriInfo" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <mat-label class="mx-2">Calories</mat-label>
                <input matInput formControlName="calories" required>
            </mat-form-field>
            <mat-form-field class="mx-2">
                <mat-label>Protein</mat-label>
                <input matInput formControlName="protein" required>
            </mat-form-field>
            <mat-form-field class="mx-2">
                <mat-label>Carbohydrate</mat-label>
                <input matInput formControlName="carbohydrates" required>
            </mat-form-field>
            <mat-form-field class="mx-2">
                <mat-label>Fat</mat-label>
                <input matInput formControlName="fat" required>
            </mat-form-field>
            <div class="d-flex justify-content-end">
            <button mat-raised-button color="primary" class="mr-2" type="submit">Save</button>
            <button mat-raised-button color="primary" class="ml-2" (click)="onCancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>
