
<section class="section about-section gray-bg" id="about">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-lg-6">
                <div class="about-text go-to">
                    <h3 class="dark-color">{{ recipe.title }}</h3>
                    <div class="about-list">
                        <div class="">
                            <div class="media">
                                <h2>Ingredients:</h2>
                            </div>
                            <div class="ingredients-list">
                                <ul *ngFor="let i of recipe.ingredients">
                                   <li>
                                    <span class="mr-5">{{i.quantity}} of {{i.ingredient}} {{i.name}}</span><button mat-button (click)="addItem(i.name)"><mat-icon>add_shopping_cart</mat-icon></button>
                                   </li> 
                                </ul>
                            </div>
                            <div class="media">
                                <h2>Nutritional Information:</h2>
                            </div>
                            <div class="media">
                                <ul >
                                    <label>Calories:</label>
                                    <li>{{recipe.nutritional_information.calories}}</li>
                                </ul>
                                <ul >
                                    <label>Protein:</label>
                                    <li>{{recipe.nutritional_information.protein}}</li>
                                </ul>
                                <ul >
                                    <label>Carbohydrates:</label>
                                    <li>{{recipe.nutritional_information.carbohydrates}}</li>
                                </ul>
                                <ul >
                                    <label>Fat:</label>
                                    <li>{{recipe.nutritional_information.fat}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-2">
                <div class="about-avatar">
                    <img class="card-img-top" [src]="recipe.img" alt="Card image cap">   
                </div>
            </div>
        </div>
        <div class="counter">
                                
            <h2>Instructions:</h2>
            <ul *ngFor="let ins of recipe.instructions">
                <li><p>{{ins}}</p></li>
            </ul>                       
            <hr>  
            <div class="d-flex">
                <h4 class="mr-5">Recipe Created On: <i>{{ recipe.creationDate }}</i></h4>
                <h4 class="mx-5">Recipe Created By UserId: <i>{{ recipe.creatorId }}</i></h4>
            </div>
            <div class="d-flex justify-content-end">
                <button mat-raised-button color="primary" (click)="onRate(recipe.id)" class="mr-2">Rate Me</button>
                <button mat-raised-button color="primary" (click)="onEdit(recipe)" class="ml-2">Edit Recipe</button>
            </div>
        </div>
    </div>
</section>

