<div class="main-container">
    <div class="header">
        <div class="card p-3 m-2 d-flex justify-content-center align-items-center">
            <div class="card-body mx-2 px-2">
                <h1 class="card-title">Hi, <span class="text-uppercase"> {{user}} !!</span></h1>
                <hr>
                <div class="mx-2 px-4">
                    <p>We welcome you</p>
                    <p class="mx-5">to the </p>
                    <p><strong>World of Recipes !!</strong></p>
                </div>   
            </div>
            
        </div>
        
        <div class="chef mt-5 d-flex justify-content-end">
            <img src="../../assets/background/chef.png">
        </div>
    </div>
    
</div>


